sudo: required
language: cpp
dist: xenial

env:
  global:
   - MAKEFLAGS="-j 2"

matrix:
  include:

    # 1/ Linux Clang Builds
    - os: linux
      compiler: clang
      addons: &clang38
        apt:
          sources:
            - llvm-toolchain-xenial-3.8
            - ubuntu-toolchain-r-test
          packages:
            - libstdc++-5-dev
            - clang-3.8
            - cmake
      env:
        - COMPILERCXX='clang++-3.8'
        - COMPILERC='clang-3.8'

    - os: linux
      compiler: clang
      addons: &clang39
        apt:
          sources:
            - llvm-toolchain-xenial-3.9
            - ubuntu-toolchain-r-test
          packages:
            - libstdc++-6-dev
            - clang-3.9
            - cmake
      env:
        - COMPILERCXX='clang++-3.9'
        - COMPILERC='clang-3.9'

    - os: linux
      compiler: clang
      addons: &clang40
        apt:
          sources:
            - llvm-toolchain-xenial-4.0
            - ubuntu-toolchain-r-test
          packages:
            - libstdc++-6-dev
            - clang-4.0
            - cmake
      env:
        - COMPILERCXX='clang++-4.0'
        - COMPILERC='clang-4.0'

    - os: linux
      compiler: clang
      addons: &clang50
        apt:
          sources:
            - llvm-toolchain-xenial-5.0
            - ubuntu-toolchain-r-test
          packages:
            - libstdc++-7-dev
            - clang-5.0
            - cmake
      env:
        - COMPILERCXX='clang++-5.0'
        - COMPILERC='clang-5.0'
        
    - os: linux
      compiler: clang
      addons: &clang60
        apt:
          sources:
            - llvm-toolchain-xenial-6.0
            - ubuntu-toolchain-r-test
          packages:
            - libstdc++-7-dev
            - clang-6.0
            - cmake
      env:
        - COMPILERCXX='clang++-6.0'
        - COMPILERC='clang-6.0'
        
    - os: linux
      compiler: clang
      addons: &clang70
        apt:
          sources:
            - llvm-toolchain-xenial-7
            - ubuntu-toolchain-r-test
          packages:
            - libstdc++-7-dev
            - clang-7
            - cmake
      env:
        - COMPILERCXX='clang++-7'
        - COMPILERC='clang-7'
        
    - os: linux
      compiler: clang
      addons: &clang80
        apt:
          sources:
            - llvm-toolchain-xenial-8
            - ubuntu-toolchain-r-test
          packages:
            - libstdc++-8-dev
            - clang-8
            - cmake
      env:
        - COMPILERCXX='clang++-8'
        - COMPILERC='clang-8'
        
    - os: linux
      compiler: clang
      addons: &clang90
        apt:
          sources:
            - llvm-toolchain-xenial-9
            - ubuntu-toolchain-r-test
          packages:
            - libstdc++-9-dev
            - clang-9
            - cmake
      env:
        - COMPILERCXX='clang++-9'
        - COMPILERC='clang-9'

    - os: linux
      compiler: clang
      addons: &clang100
        apt:
          sources:
            - llvm-toolchain-xenial-10
            - ubuntu-toolchain-r-test
          packages:
            - libstdc++-10-dev
            - clang-10
            - cmake
      env:
        - COMPILERCXX='clang++-10'
        - COMPILERC='clang-10'

    # 2/ Linux GCC Builds
    - os: linux
      compiler: gcc
      addons: &gcc5
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - g++-5
            - cmake
      env:
        - COMPILERCXX='g++-5'
        - COMPILERC='gcc-5'

    - os: linux
      compiler: gcc
      addons: &gcc6
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - g++-6
            - cmake
      env:
        - COMPILERCXX='g++-6'
        - COMPILERC='gcc-6'

    - os: linux
      compiler: gcc
      addons: &gcc7
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - g++-7
            - cmake
      env:
        - COMPILERCXX='g++-7'
        - COMPILERC='gcc-7' 
        
before_install:
  - sudo apt-get install -y libudev-dev
  - sudo apt-get install -y libxrandr-dev
  - sudo apt-get install -y libxinerama-dev
  - sudo apt-get install -y libxcursor-dev
  - sudo apt-get install -y libxi-dev

script:
  - git submodule update --init --recursive
  - mkdir build
  - cd build
  - cmake -DCMAKE_INSTALL_PREFIX=./install -DCMAKE_C_COMPILER=$COMPILERC -DCMAKE_CXX_COMPILER=$COMPILERCXX -DBUILD_OSPP_TESTS=ON ..
  - cmake --build .
